.contact_form{
        max-width: 400px;
        padding: 15px;
        background-color: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
}
.contact_label{
    font-size: 18px;
    font-weight: 600;
        display: block;
        margin-bottom: 10px;
}
.contact_input {
    margin: 0 auto;
      width: 100%;
      max-width: 300px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid rgb(240, 204, 204);
      border-radius: 4px;
      margin-top: 5px;
  }
  .container {
    padding: 15px;
    margin: 5px auto;
    min-width: 400px;
    background-color: azure;
    text-align: center;
    border-radius: 4px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);;
}
.title{
background-color: blue;
color:yellow;
border-radius: 4px;
padding: 10px;
margin-bottom: 15px;
}
.title_contacts{
background-color: yellow;
    color: blue;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}
  